.logo{
    max-height: 45px;
}

.carousel-item{
    width: 600px;
}

.img-carousel{
    width: 800px;
    height: 400px;
}

.demo-content{
    background-color: rgb(57, 57, 57);
    color: antiquewhite;
}